<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>{{#link-to 'application'}}Steamcircle{{/link-to}}</h1>
    </li>
     {{!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --}}
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    {{!-- Right Nav Section --}}
    <ul class="right">
      <li>
        {{#if session.isAuthenticated}}
          <a class="u-cursorPointer" {{ action 'invalidateSession' }}>Logout</a>
        {{else}}
          <a class="u-cursorPointer" {{ action 'authenticateSession' }}>Login</a>
        {{/if}}
      </li>
    </ul>

    {{!-- Left Nav Section --}}
    <ul class="left">
      <li>{{#link-to 'user' 76561197962914071}}Test{{/link-to}}</li>
    </ul>
  </section>
</nav>
