$font-familyHeadings: "'futura-pt', 'Futura PT'";
$font-familyParagraphs: "'proxima-nova', 'Proxima Nova'";
$font-familyFallbacks: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";

$font-weightLight: 300;
$font-weightRegular: 400;
$font-weightBold: 700;
